.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    /* don't forget to add all the previously mentioned styles here too */
    background: #1d3756fa;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(100, 126, 155, 0.98);
    margin-bottom: 10px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

.nav-link.admin{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}

/*#sidebar ul li a {*/
/*    padding: 10px;*/
/*    font-size: 1.1em;*/
/*    display: block;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
.nav-link.admin:hover {
    color: #1d3756fa;
    background: #fff;
}
.nav-link.admin.active{
    color: #fff;
    background: rgba(100, 126, 155, 0.98);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgba(100, 126, 155, 0.98);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
.info-content{
    padding: 15px 10px;
    background: #fff;
    border: 1px solid rgba(100, 126, 155, 0.98);
    border-radius: 5px;
    margin: 40px;
    box-shadow: 2px 2px 6px rgba(100, 126, 155, 0.98);
}
#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#sidebarCollapse{
    left: 10px;
    margin-bottom: 10px;
}
.schedule-scroll.admin{
    height: 400px;
    overflow-x: visible;
}

/* dropdown */
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.btn.btn-outline-light.admin{
    right: 10px;
    top: 20px;
    position: absolute;
}
/* ========================= form group ======================*/
.form-group{
    position: relative;
}
.form-group > small{
    visibility: hidden;
}
.form-group > i{
    visibility: hidden;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.form-group.success i.fa-check-circle{
    visibility: visible;
    color: #2ecc71;
}
.form-group.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}
.form-group.error small{
    visibility: visible;
    color: #e74c3c;
    display: block;
    padding-bottom: 5px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
